@import "tailwindcss";

/* Mobile (default) solid background */
:root {
  --background: #1A1A1A;
}

/* Apply gradient only from sm breakpoint (~640px) upward */
@media (min-width: 640px) {
  :root {
    --background: linear-gradient(
      to right,
      #1e1b4b 0%,
      #000000 65%,
      #000000 100%
    );
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
  }
  @media (min-width: 640px) {
    :root {
      --background: linear-gradient(
        to right,
        #1e1b4b 0%,
        #000000 65%,
        #000000 100%
      );
    }
  }
}
@font-face {
   font-family: "Monument Extended Ultralight";
    src: url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.eot");
    src: url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/9b310b2d91dfaf3b73ac6ea66c8351b2.svg#Monument Extended Ultralight")format("svg");
}

.custom-font {
  font-family: "Monument Extended Ultralight";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}